@charset "utf-8";

@media screen and (max-width: 800px) {
  body {
    padding-top: 90px;
    background-color: black;
    font-family: "メイリオ", Meiryo, sans-serif;
    font-size: 12px;
    width: 375px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;
    overflow-x: hidden;
  }

  header {
    width: 375px;
    background: black;
    margin-left: -10px;
    height: 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
  }
  header .nav .menu {
    display: flex;
  }

  header .nav .menu li {
    list-style: none;
  }

  header .nav .menu li + li {
    margin-left: 25px;
  }

  .top {
    width: 180px;
    margin-left: 90px;
    animation: flowing 4s linear infinite;
    transform: translateX(90%);
  }

  .top-text {
    color: #ff33cc;
    font-size: 25px;
  }

  .count {
    align-items: center;
    display: flex;
    margin-top: -20px;
    flex-direction: column;
  }

  h1 {
    order: 0;
    color: aqua;
    font-size: 50px;
    text-align: center;
  }

  .count p {
    color: rgb(236, 76, 228);
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
  }

  #icon-img {
    border: 0;
    width: 50px;
    height: 50px;
  }

  #profile-img {
    margin-left: 0;
    border: 0;
    width: 170px;
    height: 170px;
  }

  #bird-img {
    margin-top: -170px;
    margin-left: 205px;
    border: 0;
    width: 170px;
    height: 170px;
  }

  #marostagram-img {
    border: 0;
    width: 353px;
    height: 353px;
  }

  .marontter {
    float: left;
    width: 353px;
    margin-bottom: 10px;
    border: #ffb6c1 solid 1px;
    color: #ff99cc;
    font-size: 100%;
    padding: 10px;
  }

  .marostagram {
    float: left;
    width: 353px;
    margin-bottom: 10px;
    border: #ffb6c1 solid 1px;
    color: #ff99cc;
    font-size: 100%;
    padding: 10px;
  }

  h4 article-date {
    margin: 0;
    color: #ff99cc;
  }

  h2 {
    margin: 0;
    color: #ff99cc;
    font-size: 35px;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: space-around;

    /* 以下 背景色やテキストカラーなどはお好みで指定してください */
    background-color: whitesmoke;
    width: 375px;
    color: #ff99cc;
    text-align: center;
    padding: 20px 0;
  }

  /*keyframes*/

  @keyframes flowing {
    50% {
      transform: translateX(-90px);
    }
    100% {
      transform: translateX(90%);
    }
  }

  @keyframes slide {
    100% {
      transform: translate(-175px);
    }
  }
}
