@charset "utf-8";

@media screen and (min-width: 800px) {
  body {
    padding-top: 90px;
    background-color: black;
    font-family: "メイリオ", Meiryo, sans-serif;
    font-size: 100%;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  header {
    background-color: black;
    width: 600px;
    margin-left: 100px;
    height: 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
  }
  header .nav .menu {
    display: flex;
  }

  header .nav .menu li {
    list-style: none;
  }

  header .nav .menu li + li {
    margin-left: 50px;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h1 {
    margin: 0;
    color: aqua;
    font-size: 70px;
    text-align: center;
  }

  /*keyframes*/

  @keyframes flowing {
    50% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100%, 0);
    }
  }
}
